.block-header-text{    
    padding-bottom: 53px;
    &.header-text-1{
        margin-bottom: 128px;
        margin-left: 187px;
    }
    &.markets-header{
        position: relative;
    }
    span{
        position: relative;
        &::after{
            content: '';
            width: 160px;
            height: 15px;
            position: absolute;            
            background-color: $color_3;
        }
    }  
    &.left-underline{
        span{            
            &::after{
                bottom: -38px;
                left: 0;
            }
        }
    }  
    &.right-underline{
        span{            
            &::after{
                bottom: -38px;
                right: 0;
            }
        }
    }   
    &.middle-underline{
        span{            
            &::after{
                bottom: -38px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }   
}


@media (max-width: map-get($map: $grid-breakpoints, $key: 'md')){  
    .block-header-text{
        &.header-text-1{
            margin-left: 0;
            margin-bottom: 25px;
        }
        &.header-text-2{
            margin-right: 0 !important;            
            margin-bottom: 25px !important;            
        }
        span{
            position: relative;
            &::after{
                content: '';
                width: 100px;
                height: 15px;
                position: absolute;            
                background-color: $color_3;
            }
        }  
    }
}