.button-contact{
    background-color: $color_5;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 58px;
    padding-right: 58px;
    position: relative;    
    &::after{        
        content: '';
        display: inline-block;
        @include bgimgin('ic_arrow_right.svg');
        position: absolute;
        top: 50%;
        right: 32px;
        transform: translateY(-50%);
        width: 6px;
        height: 9px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;        
    }
}